<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\WebAppP2P.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout">
    </aspNetCore>
  </system.webServer>
</configuration>
<!--ProjectGuid: 4874f5fc-efa1-4f0b-964d-95ca1f13ad13-->